<div class="center hero-unit">

<h3>¿De acuerdo a qué fórmula quieres conocer tu peso ideal?</h3>

<div class="span6">
  Miller
  <form action="miller_controller/home">
    <input type="submit" value="Ir!">
  </form>
</div>

<div class="span6">
  Devine - Male
  <form action="calculate_pages/new">
    <input type="submit" value="Ir!">
  </form>
</div>
</div>


